<a href="https://colab.research.google.com/github/Mrcwr2/Python_Excel_Clean_Data/blob/main/6_End__Filtering_rows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Filtering Rows
---

## **Excel:**

![filter-data.png]()

## **Python:**



*   Filter with boolean indexing


    df[df['column'] == 'criteria']
    df[df['column'] < criteria]

**Comparison operators:**

    Less than (<)
    Greater than (>)
    Less or greater than/equal to (<=, >=)
    Not equal to (!=)
    Equal to (==)

<br>

### Load required packages and data
---

In [ ]:
# Import required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Save Github location paths to a variable
failed_bank_path = 'https://github.com/The-Calculated-Life/python_analysis_for_excel/blob/main/data/failed_banks.xlsx?raw=true'
bx_books_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_books.csv'

# Read excel and CSV files
bank_list = pd.read_excel(failed_bank_path, sheet_name='banks')
bx_books = pd.read_csv(bx_books_path)

<br>

### Boolean indexing
---

In [ ]:
# View "bank_list" data frame
bank_list.head()

    CERT  ... Closing Date
0  14361  ...   2020-04-03
1  18265  ...   2020-02-14
2  21111  ...   2019-11-01
3  58317  ...   2019-10-25
4  58112  ...   2019-10-25

[5 rows x 6 columns]

<br>

In [ ]:
# Filter to failed banks in California (CA) only: [Define condition]
bank_list['ST'] == 'CA'

0      False
1      False
2      False
3      False
4      False
       ...
556    False
557    False
558    False
559    False
560    False
Name: ST, Length: 561, dtype: bool

<br>

In [ ]:
# Filter to failed banks in California (CA) only: [Use condition as indexer]
bank_list[bank_list['ST'] == 'CA']

      CERT  ... Closing Date
28   34738  ...   2014-11-07
98   23632  ...   2012-04-27
139  33983  ...   2011-09-23
190  34783  ...   2011-02-18
191  57855  ...   2011-02-18
194  34692  ...   2011-02-11
226  57885  ...   2010-11-05
228  58087  ...   2010-11-05
251  27259  ...   2010-08-20
252  32165  ...   2010-08-20
253  33219  ...   2010-08-20
254  27090  ...   2010-08-20
292  57315  ...   2010-05-28
301  35517  ...   2010-05-07
320  33493  ...   2010-04-16
321  23876  ...   2010-04-16
349  32423  ...   2010-02-19
355  23011  ...   2010-01-29
369  28536  ...   2009-12-18
370  26348  ...   2009-12-18
386  57914  ...   2009-11-13
389  32469  ...   2009-11-06
398  30006  ...   2009-10-30
399  34659  ...   2009-10-30
400  23594  ...   2009-10-30
410  23266  ...   2009-10-16
425  27197  ...   2009-08-28
452  34341  ...   2009-07-17
453  23556  ...   2009-07-17
464  57332  ...   2009-06-26
465  57893  ...   2009-06-26
481  32069  ...   2009-04-24
500  22574  ...   2009-02-06
501  23124  ...   2009-02-06
506  33025  ...   2009-01-23
512  28344  ...   2008-11-21
513  30968  ...   2008-11-21
515  23595  ...   2008-11-07
527  57961  ...   2008-07-25
529  29730  ...   2008-07-11
543  27094  ...   2003-02-07

[41 rows x 6 columns]

<br>

In [ ]:
# Filter to failed banks in California (CA) except for those in "Palm Desert"
bank_list[(bank_list['ST'] == 'CA') & (bank_list['City'] != 'Palm Desert')]

      CERT  ... Closing Date
139  33983  ...   2011-09-23
190  34783  ...   2011-02-18
191  57855  ...   2011-02-18
194  34692  ...   2011-02-11
226  57885  ...   2010-11-05
228  58087  ...   2010-11-05
251  27259  ...   2010-08-20
252  32165  ...   2010-08-20
253  33219  ...   2010-08-20
254  27090  ...   2010-08-20
292  57315  ...   2010-05-28
301  35517  ...   2010-05-07
320  33493  ...   2010-04-16
321  23876  ...   2010-04-16
349  32423  ...   2010-02-19
355  23011  ...   2010-01-29
369  28536  ...   2009-12-18
370  26348  ...   2009-12-18
386  57914  ...   2009-11-13
389  32469  ...   2009-11-06
398  30006  ...   2009-10-30
399  34659  ...   2009-10-30
400  23594  ...   2009-10-30
410  23266  ...   2009-10-16
425  27197  ...   2009-08-28
452  34341  ...   2009-07-17
453  23556  ...   2009-07-17
464  57332  ...   2009-06-26
465  57893  ...   2009-06-26
481  32069  ...   2009-04-24
500  22574  ...   2009-02-06
501  23124  ...   2009-02-06
506  33025  ...   2009-01-23
512  28344  ...   2008-11-21
513  30968  ...   2008-11-21
515  23595  ...   2008-11-07
527  57961  ...   2008-07-25
529  29730  ...   2008-07-11
543  27094  ...   2003-02-07

[39 rows x 6 columns]

<br>

In [ ]:
# Save condition as a variable
is_california = bank_list['ST'] == 'CA'
not_palm_desert = bank_list['City'] != 'Palm Desert'

bank_list[is_california & not_palm_desert]

      CERT  ... Closing Date
139  33983  ...   2011-09-23
190  34783  ...   2011-02-18
191  57855  ...   2011-02-18
194  34692  ...   2011-02-11
226  57885  ...   2010-11-05
228  58087  ...   2010-11-05
251  27259  ...   2010-08-20
252  32165  ...   2010-08-20
253  33219  ...   2010-08-20
254  27090  ...   2010-08-20
292  57315  ...   2010-05-28
301  35517  ...   2010-05-07
320  33493  ...   2010-04-16
321  23876  ...   2010-04-16
349  32423  ...   2010-02-19
355  23011  ...   2010-01-29
369  28536  ...   2009-12-18
370  26348  ...   2009-12-18
386  57914  ...   2009-11-13
389  32469  ...   2009-11-06
398  30006  ...   2009-10-30
399  34659  ...   2009-10-30
400  23594  ...   2009-10-30
410  23266  ...   2009-10-16
425  27197  ...   2009-08-28
452  34341  ...   2009-07-17
453  23556  ...   2009-07-17
464  57332  ...   2009-06-26
465  57893  ...   2009-06-26
481  32069  ...   2009-04-24
500  22574  ...   2009-02-06
501  23124  ...   2009-02-06
506  33025  ...   2009-01-23
512  28344  ...   2008-11-21
513  30968  ...   2008-11-21
515  23595  ...   2008-11-07
527  57961  ...   2008-07-25
529  29730  ...   2008-07-11
543  27094  ...   2003-02-07

[39 rows x 6 columns]

<br>

<br>

In [ ]:
# Filter to failed banks in California (CA) OR Texas (TX)
is_texas = bank_list['ST'] == 'TX'

bank_list[is_california | is_texas]

      CERT  ... Closing Date
5    10716  ...   2019-05-31
28   34738  ...   2014-11-07
45   57431  ...   2013-12-13
47   14318  ...   2013-09-13
98   23632  ...   2012-04-27
138  33513  ...   2011-09-30
139  33983  ...   2011-09-23
190  34783  ...   2011-02-18
191  57855  ...   2011-02-18
194  34692  ...   2011-02-11
226  57885  ...   2010-11-05
228  58087  ...   2010-11-05
251  27259  ...   2010-08-20
252  32165  ...   2010-08-20
253  33219  ...   2010-08-20
254  27090  ...   2010-08-20
292  57315  ...   2010-05-28
301  35517  ...   2010-05-07
320  33493  ...   2010-04-16
321  23876  ...   2010-04-16
349  32423  ...   2010-02-19
351   3287  ...   2010-02-19
355  23011  ...   2010-01-29
369  28536  ...   2009-12-18
370  26348  ...   2009-12-18
386  57914  ...   2009-11-13
389  32469  ...   2009-11-06
394  18776  ...   2009-10-30
395  33782  ...   2009-10-30
396  25222  ...   2009-10-30
398  30006  ...   2009-10-30
399  34659  ...   2009-10-30
400  23594  ...   2009-10-30
410  23266  ...   2009-10-16
425  27197  ...   2009-08-28
428  32618  ...   2009-08-21
452  34341  ...   2009-07-17
453  23556  ...   2009-07-17
458  57667  ...   2009-07-02
464  57332  ...   2009-06-26
465  57893  ...   2009-06-26
481  32069  ...   2009-04-24
500  22574  ...   2009-02-06
501  23124  ...   2009-02-06
506  33025  ...   2009-01-23
509  11568  ...   2008-12-12
512  28344  ...   2008-11-21
513  30968  ...   2008-11-21
515  23595  ...   2008-11-07
516  26870  ...   2008-11-07
527  57961  ...   2008-07-25
529  29730  ...   2008-07-11
543  27094  ...   2003-02-07
553  22002  ...   2002-01-18

[54 rows x 6 columns]

<br>

In [ ]:
# Filter to banks in CA, GA, NY, TX
bank_list[bank_list['ST'].isin(['CA', 'GA', 'NY', 'TX'])]

      CERT  ... Closing Date
5    10716  ...   2019-05-31
15   11297  ...   2016-08-19
20   35259  ...   2015-10-02
24   33938  ...   2015-02-13
28   34738  ...   2014-11-07
..     ...  ...          ...
535  32575  ...   2007-09-28
538  26778  ...   2004-03-19
543  27094  ...   2003-02-07
546  33784  ...   2002-09-30
553  22002  ...   2002-01-18

[152 rows x 6 columns]

<br><br>
##### **QUICK CHALLENGE #1: Filtering**

**Task:** Use the approach of your choice to filter the `bx_books` dataframe to include the following:

*  Books written by Charles Dickens
*  Dickens books published before 1970
*  Dickens books where the publishing year is not equal to 0

In [ ]:
# Your code for quick challenge #1 here:
is_dickens = bx_books['book_author'] == 'Charles Dickens'
before_1970 = bx_books['year_of_publication'] < 1970
not_zero = bx_books['year_of_publication'] != 0

bx_books[is_dickens & before_1970 & not_zero]

             isbn  ...                          publisher
11234   140430083  ...                      Penguin Books
21645   451513355  ...                Penguin Putnam~mass
109902  451523008  ...                        Signet Book
139035  804901910  ...                     Airmont Pub Co
145277   30098750  ...  Harcourt Brace College Publishers
147101  451519590  ...                Penguin Putnam~mass

[6 rows x 5 columns]